{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
{% block content%}
    <h1>Client(s)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Type client</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.typeClient }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">Détails</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun client</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Créer un nouveau client</a>
{% endblock %}
{% endblock %}
